<% provide( :title, '' ) %>
<h1>SDS je blokirala ze</h1>
<h2><%= @zombies.length %></h2>
<h3>drzavljanov</h3>

<p class="lead>">
	Ali so blokirali tudi tebe? <a href="/auth/twitter">preveri</a>
</p>

<% @zombies.each do |zombie| %>
<div>
	<%= zombie.name %>
	<br /><%= zombie.message %>
</div>
<% end %>