<% provide( :title, 'O strani' ) %>
<div id="about">
	<h1>O SDS zombi</h1>
	<p>
		Ta stran je nastala kot odgovor na neprofesionalno komunikacijo stranke SDS na njihovem twitter računu <a href="https://twitter.com/strankasds">@strankaSDS</a>, ter zaradi njihovega pristopa pri obravnavanju demonstracij, ki se dogajajo v Sloveniji.
	</p>
	<p>
		Namen je opozoriti na nedemokratičnost ravnanja stranke SDS, ki blokira drugače misleče državljane ter s tem onemogoča dialog.
	</p>
	<p>
		Mnenja (razlogi za blokiranje) izražena na tej strani so last avtorjev teh mnenj in ne predstavljajo mnenja avtorjev te strani. Avtorji te spletne strani za ta mnenja ne odgovarjajo.
	</p>
	<p>
		Izvorna koda te spletne strani je prosto dostopna na <a href="https://github.com/janhancic/sdszombi.com">tej povezavi</a>. Vsak lahko prispeva k razvoju te spletne strani, vendar je končna odločitev o inkorporaciji sprememb v rokah prvotnih avtorjev.
	</p>
</div>