/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'bootstrap';

body {
	padding-top: 20px;
}

#row-1, #row-2, #row-3 {
	text-align: center;
}

#row-1 {
	font-size: 40px;
	line-height: 55px;
	background-color: blue;
}

#row-2 {
	font-size: 50px;
	line-height: 65px;
	background-color: red;
	color: white;
	font-weight: bold;
}

#row-3 {
	font-size: 40px;
	line-height: 55px;
	background-color: blue;
}

#check-container {
	margin-top: 20px;
	padding: 30px;
	background-color: blue;
	border-radius: 10px;
}